---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";

// import Pocketbase from "pocketbase";
// const pb = new Pocketbase("https://tavue.pb.paolo-vincent.fr:443");

// const token = Astro.cookies.get("pb_auth")?.value;

// if (token) {
//   pb.authStore.save(token);
// }

// let user = pb.authStore.record;

// if (!user && pb.authStore.isValid) {
//   await pb.collection("users").authRefresh();
//   user = pb.authStore.record;
// }
---

<Layout title="TaVue - Ma Galerie">
    <h1>Ma Galerie</h1>
</Layout>