---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";

import LunettesCustom from "../assets/lunettesCustom.svg";
---

<Layout title="TaVue - Ma Galerie">
    <h1>Ma Galerie</h1>
</Layout>