---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Down from "../assets/Down.svg";
import Glass from "../components/Glass.astro";
---

<Layout title="TaVue - Ta paire, ton style">
  <div id="top" class="h-[calc(100vh-74px)] flex p-10">
    <div id="textTop" class="w-[50%]">
      <h1>Définis ta paire,<br />définis ton style</h1>
      <p class="text-3xl">
        Personnalise les lunettes qui te correspondent vraiment.
      </p>
    </div>
    <div class="w-[50%] h-[50%] flex items-center">
      <Glass id="glass" monture="Or" branche="Noyer" verre="Charbon" />
    </div>
    <div
      id="arrow"
      class="absolute w-[70px] h-[70px] rounded-full bg-primary flex justify-center items-center bottom-[10%] left-[50%]"
    >
      <Down />
    </div>
  </div>
  <div id="mid" class="flex relative">
    <div id="progress" class="sticky top-0 h-screen flex items-center">
      <ul class="steps steps-vertical">
        <li class="step step-primary">Monture</li>
        <li class="step step-primary">Branches</li>
        <li class="step">Pont</li>
        <li class="step">Verres</li>
        <li class="step">Gravure</li>
      </ul>
    </div>
    <div id="screens" class="flex-1">
      <div id="screen1" class="screen justify-start">
        <section id="section1" class="section w-2/5">
          <h2>Monture</h2>
          <p>
            La monture est l’élément centrale d’un paire de lunettes, elle
            définit sa forme globale.
          </p>
          <h3>Matériaux</h3>
          <div></div>
        </section>
      </div>
      <div id="screen2" class="screen justify-end">
        <section id="section2" class="section w-2/5">
          <h2>Branches</h2>
          <p>
            La monture est l’élément centrale d’un paire de lunettes, elle
            définit sa forme globale.
          </p>
          <h3>Matériaux</h3>
          <div></div>
        </section>
      </div>
      <div id="screen3" class="screen justify-end">
        <section id="section3" class="section w-1/2">
          <h2>Pont</h2>
          <p>
            La monture est l’élément centrale d’un paire de lunettes, elle
            définit sa forme globale.
          </p>
          <h3>Largeur</h3>
          <div></div>
        </section>
      </div>
      <div id="screen4" class="screen justify-start">
        <section id="section4" class="section w-1/2">
          <h2>Verres</h2>
          <p>
            La monture est l’élément centrale d’un paire de lunettes, elle
            définit sa forme globale.
          </p>
          <h3>Taille</h3>
          <div></div>
          <h3>Teinte</h3>
          <div></div>
        </section>
      </div>
      <div id="screen5" class="screen justify-end">
        <section id="section5" class="section w-1/2">
          <h2>Gravure</h2>
          <p>
            La monture est l’élément centrale d’un paire de lunettes, elle
            définit sa forme globale.
          </p>
          <h3>Texte personnalisé</h3>
          <div></div>
        </section>
      </div>
    </div>
  </div>
  <div id="bottom" class="h-screen flex p-10">
    <div id="textBottom" class="w-[50%]">
      <h2>Définis ta paire,<br />définis ton style</h2>
      <p class="text-3xl">
        Personnalise les lunettes qui te correspondent vraiment.
      </p>
    </div>
  </div>

  <script>
    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";

    gsap.registerPlugin(ScrollTrigger);

    //main parts
    const top = document.getElementById("top");
    const mid = document.getElementById("mid");
    const bottom = document.getElementById("bottom");

    //screens
    const screens = document.getElementById("screens");
    const screen1 = document.getElementById("screen1");
    const screen2 = document.getElementById("screen2");
    const screen3 = document.getElementById("screen3");
    const screen4 = document.getElementById("screen4");
    const screen5 = document.getElementById("screen5");

    //sections
    // const section1 = document.getElementById("section1");
    // const section2 = document.getElementById("section2");
    // const section3 = document.getElementById("section3");
    // const section4 = document.getElementById("section4");
    // const section5 = document.getElementById("section5");

    //other
    const progress = document.getElementById("progress");
    const arrow = document.getElementById("arrow");
    const textTop = document.getElementById("textTop");
    const textBottom = document.getElementById("textBottom");

    //consts
    const scrubSpeed = 0.5;
    const showMarkers = false;

    //top text and arrow
    gsap.to(textTop, {
      opacity: 0,
      scale: 0,
      scrollTrigger: {
        start: "top 0%",
        trigger: top,
        scrub: scrubSpeed,
        markers: showMarkers,
      },
    });
    gsap.to(arrow, {
      opacity: 0,
      scale: 0,
      scrollTrigger: {
        start: "top 0%",
        trigger: top,
        scrub: scrubSpeed,
        markers: showMarkers,
      },
    });

    //bottom text
    gsap.from(textBottom, {
      opacity: 0,
      scale: 0,
      scrollTrigger: {
        end: "bottom 100%",
        trigger: bottom,
        scrub: scrubSpeed,
        markers: showMarkers,
      },
    });

    //section fade in
    gsap.utils.toArray(".section").forEach((section) => {
      gsap.from(section, {
        opacity: 0,
        scale: 0,
        scrollTrigger: {
          trigger: section,
          end: "bottom 60%",
          scrub: scrubSpeed,
          markers: showMarkers,
        },
      });
    });

    //progress slide in/out
    gsap.from(progress, {
      opacity: 0,
      xPercent: -100,
      scrollTrigger: {
        end: "bottom 100%",
        trigger: screen1,
        scrub: scrubSpeed,
        markers: showMarkers,
      },
    });
    gsap.to(progress, {
      opacity: 0,
      xPercent: -100,
      scrollTrigger: {
        start: "bottom 100%",
        trigger: screen5,
        scrub: scrubSpeed,
        markers: showMarkers,
      },
    });
  </script>
</Layout>
