---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
---

<Layout title="TaVue - Connexion">
  <div class="flex justify-center">
    <div class="card w-[500px]">
      <div>
        <h1 class="text-5xl">Connecte-toi !</h1>
        <p>
          Pour enregistrer tes designs personnalisés, consulter ta galerie et
          commander ta paire.
        </p>
      </div>
      <form id="form" class="flex flex-col gap-2 w-full">
        <div class="flex flex-col flex-1">
          <label for="email">Email</label>
          <input
            class="input w-full"
            type="email"
            name="email"
            id="email"
            placeholder="Ton adresse email"
            required
          />
        </div>
        <div class="flex flex-col flex-1">
          <label for="password">Mot de passe</label>
          <input
            class="input w-full"
            type="password"
            name="password"
            id="password"
            placeholder="Ton mot de passe"
            required
          />
        </div>
        <a class="text-xs font-light">Mot de passe oublié ?</a>
        <div class="flex gap-2">
          <a href="/signin" class="btn flex-1">Je n'ai pas de compte</a>
          <button type="submit" class="btn flex-1 btn-primary"
            >Se connecter</button
          >
        </div>
        <p id="msg"></p>
      </form>
      <div class="divider">ou</div>
    </div>
  </div>
</Layout>

<script type="module">
  import { authUser } from "../../pocketbase/backend.js";
  const msg = document.getElementById("msg");
  let message;

  const form = document.getElementById("form");
  form.onsubmit = async (e) => {
    e.preventDefault();
    const email = form.email.value;
    const password = form.password.value;
    await authUser(email, password);
  };
</script>
