---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";

import Pocketbase from "pocketbase";
const pb = new Pocketbase("http://localhost:8071");

let token;

if (Astro.cookies.has("pb_auth")) {
  token = Astro.cookies.get("pb_auth")?.value;
}

if (token) {
  pb.authStore.save(token);
}

let user;

if (!user && pb.authStore.isValid) {
  await pb.collection("users").authRefresh();
  user = pb.authStore.record;
}

let msg = "";

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  try {
    const email = formData.get("email");
    const password = formData.get("password");
    const data = {
      prenom: formData.get("prenom"),
      Nom: formData.get("nom"),
      email: formData.get("email"),
      password: formData.get("password"),
      passwordConfirm: formData.get("passwordConfirm"),
    };
    if (!(data.password === data.passwordConfirm)) {
      msg = "Échec de la confirmation du mot de passe";
    } else {
      await pb.collection("users").create(data);
      await pb.collection("users").authWithPassword(email, password);
      Astro.cookies.set("pb_auth", pb.authStore.token, {
        path: "/",
        httpOnly: true,
      });
      return Astro.redirect("/");
    }
  } catch (error) {
    console.log(error);
    msg = "Création de compte impossible.";
    if (error.response?.data?.email?.message) {
      msg = "Cette adresse email est déjà utilisée";
    }
  }
}
---

<Layout title="TaVue - Connexion">
  <div class="flex justify-center">
    <div class="card w-[500px]">
      <div>
        <h1 class="text-5xl">Créé ton compte maintenant !</h1>
        <p>
          Pour enregistrer tes designs personnalisés, consulter ta galerie et
          commander ta paire.
        </p>
      </div>
      <form method="POST" action="/signin" class="flex flex-col gap-2 w-full">
        <div class="flex gap-4">
          <div class="flex flex-col flex-1">
            <label for="prenom">Prénom</label>
            <input
              class="input w-full"
              type="text"
              name="prenom"
              id="prenom"
              placeholder="Ton prénom"
              required
            />
          </div>
          <div class="flex flex-col flex-1">
            <label for="nom">Nom</label>
            <input
              class="input w-full"
              type="text"
              name="nom"
              id="nom"
              placeholder="Ton nom de famille"
              required
            />
          </div>
        </div>
        <div class="flex flex-col flex-1">
          <label for="email">Email</label>
          <input
            class="input w-full"
            type="email"
            name="email"
            id="email"
            placeholder="Ton adresse email"
            required
          />
        </div>
        <div class="flex flex-col flex-1">
          <label for="password">Mot de passe</label>
          <input
            class="input w-full"
            type="password"
            name="password"
            id="password"
            placeholder="Ton mot de passe"
            minlength="8"
            required
          />
        </div>
        <div class="flex flex-col flex-1">
          <label for="passwordConfirm">Confirme ton mot de passe</label>
          <input
            class="input w-full"
            type="password"
            name="passwordConfirm"
            id="passwordConfirm"
            placeholder="Ton mot de passe"
            minlength="8"
            required
          />
        </div>
        <div class="flex gap-2">
          <a href="/login" class="btn flex-1">J'ai déjà un compte</a>
          <button type="submit" class="btn flex-1 btn-primary"
            >Créer mon compte</button
          >
        </div>
        <p id="msg" class="text-center text-red-500 text-sm">{msg}</p>
      </form>
      <div class="divider">ou</div>
      <button id="googlelogin">Se connecter avec Google</button>
    </div>
  </div>
</Layout>
