---
import "../styles/global.css";

import X from "../assets/X.svg";
import YT from "../assets/YT.svg";
import IG from "../assets/IG.svg";
import FB from "../assets/FB.svg";
---

<footer
  class="flex flex-col py-10 gap-4 items-center bg-neutral text-neutral-content"
>
  <a href="/" class="font-header font-black text-5xl">TaVue</a>
  <p class="font-header text-3xl">Définis ton style</p>
  <p>Projet étudiant non commercial - Tous droits réservés</p>
  <p>Paolo Vincent - 2025</p>
  <nav class="flex gap-8 py-4">
    <a href="/">
      <X />
    </a>
    <a href="/">
      <YT />
    </a><a href="/">
      <IG />
    </a><a href="/">
      <FB />
    </a>
  </nav>
</footer>
