---
import "../styles/global.css";

import Exit from "../assets/exit.svg";
---

<header
  class="flex px-10 py-4 bg-base-100 shadow-sm justify-between items-center"
>
  <a href="/" class="font-header font-black text-5xl">TaVue</a>
  <div class="flex gap-8 items-center">
    <a
      href="/gallery"
      class="font-header text-2xl hover:underline decoration-primary"
      >Ma Galerie</a
    >
    <div class="dropdown dropdown-end">
      <div tabIndex={0} role="button" class="avatar">
        <div class="w-14 rounded-full ring-primary ring-offset-2 hover:ring-2">
          <img
            src="https://img.daisyui.com/images/profile/demo/yellingcat@192.webp"
          />
        </div>
      </div>
      <ul
        tabindex="-1"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-5 w-52 p-2 shadow"
      >
        <li id="account" class="px-2 text-lg font-semibold">
          Tu n'es pas connecté
        </li>
        <li>
          <button id="logoutbtn" class="justify-between text-base"
            >Se déconnecter<Exit class="w-5 h-5" />
          </button>
        </li>
        <li id="signin">
          <a class="justify-between text-base" href="/signin">Créer un compte</a
          >
        </li>
        <li id="login">
          <a class="justify-between text-base" href="/login">Se connecter</a>
        </li>
      </ul>
    </div>
  </div>
</header>

<script type="module">
  const { pb } = await import("/pocketbase/pb.js");

  const account = document.getElementById("account");
  const logoutBtn = document.getElementById("logoutbtn");
  const login = document.getElementById("login");
  const signin = document.getElementById("signin");

  const auth = await getAuth();

  if (auth) {
    account.innerHTML = auth.Prenom;
    logoutBtn.addEventListener("click", function (e) {
      logOut();
    });
    login.hidden = true;
    signin.hidden = true;
  } else {
    logoutBtn.hidden = true;
  }

  //getAuth
  async function getAuth() {
    try {
      if (pb.authStore.isValid) {
        console.log("Connected");
        console.log(pb.authStore.record);
        return pb.authStore.record;
      } else {
        console.log("Not Connected");
        return;
      }
    } catch (error) {
      console.log(error);
      return;
    }
  }

  //logout
  async function logOut() {
    pb.authStore.clear();
    location.href = location.href;
  }
</script>
