---
import "../styles/global.css";
import Exit from "../assets/exit.svg";

import Pocketbase from "pocketbase";
//const pb = new Pocketbase("https://tavue.paolo-vincent.fr/pb/");//
const pb = new Pocketbase("http://127.0.0.1:8090");

let token = Astro.cookies.get("pb_auth")?.value;

if (token) {
  pb.authStore.save(token);
}

let user = pb.authStore.record;

if (!user && pb.authStore.isValid) {
  await pb.collection("users").authRefresh();
  user = pb.authStore.record;
}

console.log("IsValid : "+pb.authStore.isValid);
console.log("token : "+token);
console.log("user : "+user);
---

<header
  class="flex px-10 py-4 bg-base-100 shadow-sm justify-between items-center"
>
  <a href="/" class="font-header font-black text-5xl">TaVue</a>
  <div class="flex gap-8 items-center">
    <a
      href="/gallery"
      class="font-header text-2xl hover:underline decoration-primary"
      >Ma Galerie</a
    >
    <div class="dropdown dropdown-end">
      <div tabIndex={0} role="button" class="avatar avatar-placeholder">
        <div class="w-14 bg-neutral text-neutral-content rounded-full ring-primary ring-offset-2 hover:ring-2">
          <span class="text-3xl">{user ? user.Prenom[0] : "U"}</span>
        </div>
      </div>
      <ul
        tabindex="-1"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-5 w-52 p-2 shadow"
      >
        <li id="account" class="px-2 text-lg font-semibold">
          {user ? user.Prenom : "Tu n'es pas connecté"}
        </li>
        {user ? 
        <li><a id="logout" class="justify-between text-base">Se déconnecter<Exit class="w-5 h-5" /></a></li> 
        :
        <li id="signin"><a class="justify-between text-base" href="/signin">Créer un compte</a></li>
        <li id="login"><a class="justify-between text-base" href="/login">Se connecter</a></li>
        }
      </ul>
    </div>
  </div>
</header>

<script type="module">
  import pocketbase from "https://cdn.jsdelivr.net/npm/pocketbase@0.26.2/dist/pocketbase.es.mjs";
  //const pb = new Pocketbase("https://tavue.paolo-vincent.fr/pb/");//
const pb = new Pocketbase("http://127.0.0.1:8090");

  const logout = document.getElementById("logout");

  if (logout) {
    logout.addEventListener("click", (e) => {
      pb.authStore.clear();
      document.cookie = "pb_auth =; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
      location.href = "/";
    })
  }
</script>